<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LeapMotion urbawood</title>
	<link rel="stylesheet" href="">
</head>
<body>
	
</body>
<!--Templates-->
<script type="text/template" id="menuStart">
	
</script>

<script type="text/template" id="menuTv">

</script>

<script type="text/template" id="menuLampes">

</script>

<script type="text/template" id="menuCams">

</script>
<script type="text/template"></script>
<!--scripts-->
<script>
	var xhrHTML = new XMLHttpRequest();
	xhrHTML.open("GET","http://localhost:8080/debug.html",true);
	xhrHTML.send(null);
	if (xhrHTML.status < 400) { 
		//le serveur a réussi à traiter la requête
        console.log(xhrHTML.responseText);
    } else {
        //affichage des informations sur l'échec du traitement de la requête
        console.error(xhrHTML.status + " " + xhrHTML.statusText);
    }
</script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="blooming-menu.min.js"></script>
<script src="url.js"></script>
<script src="menu.js"></script>
</html>